
main {
	max-width: 1200px;
	margin: 2rem auto;
	
}

:root{
    --primary:#6CD9CE;
    --secondary :#E8900C;
    --accent1-color: #09728D; 
    --accent2-color: #F4F6F5;
}


.hero h1{
    color: var(--accent1-color);
    position: absolute;
    top: 10%;
    left: 35%;
   
}

.hero article{
    position: absolute;
    bottom: 10%;
    left: 50%;
    
}

h2{
    color: var(--accent1-color);
}

p{
    color: var(--accent1-color);
}

footer a {
    text-decoration: none;
}

.hero img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.hero{
    position: relative;
    width: 100%;
}

.client img{
    float: right;

}

.hero article p{
    margin 0
    
}