img{width: 400px;
    height: auto;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;            
}

nav{ position: relative; 
  
    margin-left: auto;
    margin-right: auto;

}